@import "../../Styles/variables.scss";

.myBtn,
.myBtn:active {
  position: fixed;
  bottom: 20px;
  right: 73px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: $text2;
  color: white;
  cursor: pointer;
  padding: 8px 15px;
  border-radius: 30px;
  font-size: 26px;
}
.myBtn:hover {
  background-color: $mainColor;
}

@media screen and (max-width: 700px) {
  .myBtn,
  .myBtn:active {
    position: fixed;
    bottom: 20px;
    right: 50%;
    margin-right: -28px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: $text2;
    color: white;
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 30px;
    font-size: 26px;
  }
}
