@import "./variables.scss";

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $openSans-font;
  color: $text;
  // height: 200vh;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $bgSecond;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $bg;
  box-shadow: inset 0 0 1px rgb(0, 0, 0);
  border-radius: 10px;
}

@media screen and (min-width: 992px) {
  body {
    font-family: $openSans-font;
    color: $text;
  }
}

main {
  height: calc(100vh - #{$header-height});
  display: flex;
  justify-content: center;
  align-items: center;

  .intro {
    font-size: 38px;
    text-align: center;
    font-weight: 700;
    color: $text2;
    padding: $spacing-md $spacing-lg;
    background: $bg;
    border-radius: $spacing-sm;
    box-shadow: 0 0 10px $mainColor;
    margin: 0 $spacing-md;

    margin-top: -$header-height;

    &__focus {
      color: $mainColor;
    }

    @include breakpoint(md) {
      font-size: 42px;
    }
  }
}

button {
  // reset to default
  font-family: inherit;
  outline: none;
  border: none;
  background: none;
  letter-spacing: inherit;
  color: inherit;
  font-size: inherit;
  text-align: inherit;
  padding: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  /* margin-bottom: 0.5rem; */
  font-weight: 500;
  line-height: 1.2;
}
