@import "../../Styles/variables.scss";

.content {
  font-family: $openSans-font;
  padding-top: 20px;
  min-width: 260px;
  max-width: 75rem;
  margin: 20px auto;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
